<h2>Your favorite articles</h2>

<ul class="list-group">
<% user.articles.favorite.forEach(function(article){ %>
    
    <li class="list-group-item">
        <a href="<%= baseUrl %><%= article.slug %>"><%= article.title %></a>
        <a href="profile/article/remove?id=<%= article.id %>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    </li>    
    
<% }) %>    
</ul>

<h2>Newest articles</h2>
<ul class="list-group">
<% newestArticles.forEach(function(article){ %>

    <li class="list-group-item">
        <a href="<%= baseUrl %><%= article.slug %>"><%= article.title %></a>
        <a href="profile/article/remove?id=<%= article.id %>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    </li>  
    
<% }) %>  
</ul>


