<% include ./_html/head %>

<% include ./_elements/navigation-top-bar %>

<div class="container-fluid article-header" style="background: <%= article.backgroundColor %>">
    
    <div class="container">
        <div class="row">
            <h1 style="color: <%=article.titleColor%>"><%= article.title %></h1>
            <h3 style="color: <%=article.titleColor%>"><%= article.author %></h3>
            <p class="text-muted"><%=article.author%> | <%=article.createdAt%></p>
            <img class="article-main-image" src="<%= article.image %>">
        </div>
    </div>
</div>

<div class="container">
    <% include ./_elements/breadcrumbs %>
    <% include ./_elements/user-social-bar %>
    <% include ./_elements/message-bar %>
    <div class="row article-body">
            <% include _elements/share-square%>
            <%- article.body %>
    </div>
    <hr>
    <h2>Comments</h2>
    <div class="row">
        <div class="col-sm-1 hidden-xs">
            <% if(isAuthenticated) { %>
            retrieve user avatar
            <img class="img-responsive img-circle" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png">
            <% } else {  %>
            <img class="img-responsive img-cirlce" src="https://www.accrinet.com/images/3030_orig.png">
            <% } %>
        </div>
        <div class="col-xs-12 col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Guest of username of fullname of user
                </div>
                <div class="panel-body">
                    <form method="post" action="/comment">
                        <textarea name="comment_body" class="form-control" rows="3"></textarea>
                        <input type="hidden" name="article_id" value="<%= article._id%>">
                        <input type="hidden" name="cb" value="<%= article.slug %>">
                        <br>
                        <button class="btn btn-default" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    Comments already placed
    <div class="row">
        <pre>
            <%= article.comments %>
        </pre>
        <div class="col-xs-12">
            
            <% article.comments.forEach(function(comment, index) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= comment.author_id %>
                        <span class="pull-right text-muted">
                            <%= comment.createdAt %>
                        </span>
                    </div>
                    <div class="panel-body">
                        <%= comment.body %>
                        
                    </div>
                    <div class="panel-footer">
                        <i class="fa fa-thumbs-o-up"></i> <%= comment.like.length %>
                        <a href="./comment/like?article_id=<%= article._id %>&comment_id=<%= comment._id %>&cb=<%= article.slug %>" class="pull-right">
                            like <i class="fa fa-thumbs-o-up"></i>
                        </a>
                    </div>
                </div>
            <% }) %>
            
            
            
            
            
            
        </div>
    </div>
    
</div>


<% include ./_html/scripts %>


<style>
.article-header {
    text-align: center;
    padding: 50px;
}
.article-main-image {
    max-width: 90%;
    
}
.article-body {
    margin-top: 50px;
    margin-bottom: 50px;
}
</style>